<div class="main_contant row">
    <div class="col-md-6">
     <div class="row g-0">
        <div class="col-12 my-2">
            <h4 class="text-uppercase">PENDING LIST</h4>
        </div>
     </div>
        <div class="card mt-1 p-3">
            <div class="d-inline mt-3 border" [ngClass]="lifeCycleColor[i].border"
                *ngFor="let Item of VLifecycleWorkloadSummaryDto; index as i">
                <div class="left_bar float-start p-2">
                    <span class="text_size " [ngClass]="lifeCycleColor[i].color1">{{Item.lifecycleName}}</span>
                </div>
                <div class="right_site float-end  p-2" [ngClass]="lifeCycleColor[i].background">
                    <span class="text_size" [ngClass]="lifeCycleColor[i].color2">{{Item.noOfRecord}}</span>
                </div>
            </div>

        </div>

    </div>

    <div class="col-md-6">

        <div class="row g-0">
            <div class="col-md-12">
                
                <div class="row g-0">
                    <div class="col-md my-2">
                        <h4 class=" text-uppercase">Activity Report</h4>
                    </div>
                    <div class="col-md my-2">
                        <select id="selectModuleType" class="form-select" (change)="moduleTypeSelectionChange()" [(ngModel)]="selectModuleType" name="moduleType">
                            <option value="">-- select module --</option>
                            <ng-container *ngFor="let item of KeyValueInStringList">
                                <option value="{{item.key}}">{{item.title}}</option>
                            </ng-container>
        
                        </select>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body p-0">
                        <ag-grid-angular class="ag-theme-alpine" style="height: 45vh;width: 100%; "
                            [columnDefs]="colDefsActivityReport" (gridReady)="onGridReadyActivityReport($event)"
                            [paginationPageSize]="paginationPageSize" [defaultColDef]="DeafultCol">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-4">
                <h4 class="my-1 text-uppercase"> Agents Workload Report</h4>
                <div class="card">
                    <div class="card-body p-0">
                        <ag-grid-angular class="ag-theme-alpine" style="height: 45vh;width: 100%; "
                            [columnDefs]="colDefsAgents" (gridReady)="onGridReadyAgents($event)"
                            [paginationPageSize]="paginationPageSize" [defaultColDef]="DeafultCol">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>