.table td, .table th {
	padding: .3rem;
}

.table td {
	font-size: 0.9rem;
	font-family: sans-serif, Arial, Helvetica;
}


.pane {
  height: 65vh;
  overflow-y: auto;
  border: 1px solid #9d9c9c;
  border-radius: 0.15rem;
}


thead {
	background-color: #f5f7f7;
}

th {
  padding-top: 0.5rem!important;
  padding-bottom: 0.5rem!important;
}

tr.selected-row{
	background-color: yellowgreen!important;
}



:host ::ng-deep .highlighted-text {
	background-color: yellow;
	font-weight: bold;
}
