<div class="row">
    <div class="col-md-12 mb-3">
        <span class="grid-header"><i aria-hidden="true" class="fa fa-list"></i> Mail History </span>
    </div>

    <div class="col-md-5 mb-3">
        <div class="">
            <input type="text" class="form-control" [(ngModel)]="search" placeholder="type email here ...">
        </div>
    </div>
    <div class="col mb-3">
        <button type="submit" class="btn btn-success" (click)="searchEmail()">Search</button>
    </div>
    <div class="w-100 mt-2">

    </div>

    <div class="col-md-6 pe-2">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"><i class="fa-regular fa-life-ring ms-1"></i>
                    LifeCycle History </h5>
            </div>
            <div class="card-body">

                <div *ngFor="let item of oVMailLifecycleDtoList;let isLast = last" class="mb-3 left_content">

                    <div class="row g-0">
                        <div class="col-3 fw-bold">

                            {{item.mailLifecycleDatetime | date:'EE, MMMM d, y'}} <br>
                            {{item.mailLifecycleDatetime | date:'h:mm a' }}

                        </div>
                        <div class="col-1 position-relative">
                            <div class="circle_logo"></div>
                            <div class="dari">

                            </div>
                        </div>
                        <div class="col">
                            <b>{{item.lifecycleName}} </b>
                            <br>
                            <div style="font-size: small; color: #979393;"> {{item.mailLifecycleNote}}</div>
                        </div>
                        <div class="col-2 ">
                            <b>{{item.mailLifecycleOccuredByFullName}}</b>
                            <br>
                            <div style="font-size: small; color: #979393;"> {{item.mailLifecycleOccuredByUniqueCode}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 ps-2">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"> <i class="fa-solid fa-chart-line ms-1"></i>
                    Activity History </h5>
            </div>
            <div class="card-body">

                <div *ngFor="let item of oVActivityHistoryDtoList" class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 mb-3">

                                <div class="row">
                                    <div class="col-3">
                                        <b> {{item.activityByFullName}}</b>
                                        <br>
                                        <div style="font-size: small; color: #979393;"> {{item.activityByUniqueCode}}
                                        </div>
                                    </div>

                                    <div class="col">
                                        <b> {{item.activityName}}</b>
                                        <br>
                                        <div class="" style="font-size: small; color: #979393;"> {{item.activityNote}}
                                        </div>

                                    </div>
                                    <div class="col-3 fw-bold">
                                        {{item.activityAt | date:'EE, MMMM d, y' }} <br>
                                        {{item.activityAt | date:'h:mm a' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>