<div class="row">
    <div class="col-md-12 my-3">
      <span class="fs-4"> <i class="fa-solid fa-envelopes-bulk text-black ms-1"></i> Assign To Change Map Information</span>
    </div>
  
    <div class="col-md-12 position-relative">
      <ag-grid-angular class="ag-theme-alpine" style="height: 60vh;width: 100%; " [rowMultiSelectWithClick]="true"
    [columnDefs]="colDefs" [pagination]="true" [rowSelection]="'multiple'"    (selectionChanged)="onSelectionChanged($event)"
        (gridReady)="onGridReadyAsignToAgent($event)" [paginationPageSize]="paginationPageSize"
        [defaultColDef]="DeafultCol">
      </ag-grid-angular>

      <div style="width: 250px;position: absolute;left: 0px;bottom: -2px;z-index: 222;">
        <div class="row g-0 p-2 justify-content-center">
          <div class="col-6 pt-2">Page Size</div>
          <div class="col-6">
            <select class="form-select" [(ngModel)]="paginationPageSize" name="paginationPageSize" aria-label="Default select example">
              <option  selected>Page Size</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
              <option value="30">30</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="500">500</option>
              <option value="1000">1000</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-12 my-3">
      <span class="fs-5">Total Record : {{totalRecord}}</span>
      <button type="button" class="btn btn-success float-end" (click)="AssignToAgent()">Assign To Agent</button>
    </div>
  
  </div>
  
  
  
  
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" hidden id="modalOpen" data-bs-toggle="modal"
    data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Email Confirm</h5>
          <button type="button" class="btn-close" id="assignToAgentCloseModal" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <div class="row">
            <div class="col-md-12">
              <ag-grid-angular class="ag-theme-alpine" style="height: 60vh;width: 100%; "
                [columnDefs]="colDefsConfirmAssign" [rowSelection]="'single'"
                (gridReady)="onGridReadyConfirmToAgent($event)" [paginationPageSize]="paginationPageSize"
                [defaultColDef]="DeafultCol">
              </ag-grid-angular>
            </div>
          </div>
  
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-primary" (click)="ConfirmAssign()">Confirm Assign</button>
        </div>
      </div>
    </div>
  </div>