<div class="row g-0">
  <div class="col-md-12 mb-3">
    <span class="grid-header"><i aria-hidden="true" class="fa fa-list"></i> Upload Fresh Email </span>
    <button type="button" class="btn btn-info float-end " (click)="addBulkEmailBtn()">Add Bulk Email</button>
  </div>

  <div class="col-md-12 position-relative">
    <ag-grid-angular class="ag-theme-alpine" style="height: 60vh;width: 100%; " [rowData]="rowData"
      [columnDefs]="colDefs" (gridReady)="ApiGridReady($event)"
      [paginationPageSize]="paginationPageSize"
      [pagination]="true"
      [rowData]="rowData"
      [class]="themeClass"
       [defaultColDef]="defaultColDef">
    </ag-grid-angular>

    <div style="width: 250px;position: absolute;left: 0px;bottom: -2px;z-index: 222;">
      <div class="row g-0 p-2 justify-content-center">
        <div class="col-6 pt-2">Page Size</div>
        <div class="col-6">
          <select class="form-select" [(ngModel)]="paginationPageSize" name="paginationPageSize" aria-label="Default select example">
            <option  selected>Page Size</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
          </select>
        </div>
      </div>
    </div>


  </div>
  

  <div class="ccol-md-12 my-3">
    <span class="">Total Record : {{totalRecord}}</span>
    <button type="button" class="btn btn-success float-end" (click)="BulkEmailSave()">Save Data</button>
  </div>
</div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" hidden id="modalOpen" data-bs-toggle="modal"
  data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Bulk Email</h5>
        <button type="button" class="btn-close" id="BulkemailCloseModal" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-8 mb-4">
            <label for="fileUpload" class="form-label">Select File</label>
            <input type="file" class="form-control" id="fileUpload" #fileUpload (change)="onFileSelected($event)"
              value="file upload">
          </div>
          <div class="col-md-4 justify-content-center" style="align-self: center;">
            <button class="btn btn-info px-2 float-end mx-2" (click)="SampleDownload()"><i class="fa fa-save"
                aria-hidden="true"></i>
              Sample</button>
          </div>
        </div>

        <div class="mb-4">
          <label for="mailSourcingId" class="form-label">Select Source </label>
          <select class="form-select form-select mb-3" [(ngModel)]="oEmailFormDto.mailSourcingId" name="mailSourcingId"
            id="mailSourcingId" aria-label=".form-select-lg example">
            <option selected> --- Select ---</option>
            <option *ngFor="let item of KeyValues" value="{{item.key}}">{{item.value}}</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="mailRelatedTag" class="form-label">Tag </label>
          <input type="text" class="form-control" [(ngModel)]="oEmailFormDto.mailRelatedTag" name="mailRelatedTag"
            id="mailRelatedTag" placeholder="Please select tag">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="BulkEmailLoadData()">Load Data</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>