<div class="row">

  <div class="col-12 my-3">
    <span class="grid-header"><i aria-hidden="true" class="fa fa-list"></i> Manage Map Claiming </span>
  </div>

  <div class="col-md-6">
    <ag-grid-angular class="ag-theme-alpine" style="height: 67vh;width: 100%; overflow-x: hidden; " [rowData]="rowData"
      [columnDefs]="colDefs" (gridReady)="ApiGridReady($event)" rowSelection='single' [defaultColDef]="DeafultCol">
    </ag-grid-angular>
    <div class="mt-2">
      <div class="col-md-12 my-3">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group mb-3" style="width: 220px!important;">
              <span class="input-group-text" id="basic-addon1">No of selected rows </span>
              <input type="text" class="form-control" [(ngModel)]="totalRecord" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 ps-2">

    <div class="card">
      <div class="card-header">
        Details
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="mailRelatedTag" class="form-label">Email </label>
            <input type="text" class="form-control" [(ngModel)]="sEmailUserName" disabled name="mailRelatedTag"
              id="mailRelatedTag">
          </div>

          <div class="col-md-6 pe-2 mb-3">
            <label for="mailRelatedTag" class="form-label">Password </label>
            <div class="position-relative">
              <input [type]="passwordFieldType" class="form-control" disabled [(ngModel)]="sEmailPassword">
              <button type="button" class="toggle-button" (click)="togglePasswordVisibility()">
                <span>{{ eyeIcon }}</span>
              </button>
            </div>

          </div>
          <div class="col-md-6 ps-2 mb-3">

            <label for="mailRelatedTag" class="form-label">Recovery Email </label>
            <div class="position-relative">
              <input [type]="recoveryFieldType" class="form-control" disabled [(ngModel)]="sEmailRecoveryEmail">
              <button type="button" class="toggle-button" (click)="toggleRecoveryEmailVisibility()">
                <span>{{ eyeIconRecovery }}</span>
              </button>
            </div>

          </div>

          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-header">
                Map 1
              </div>
              <div class="card-body">
                <div class="row">
                  <!-- <div class="col-md-6">
                    <label for="nCategoryId" class="form-label">Category</label>
                    <select class="form-select form-select mb-3" [(ngModel)]="nFirstMapCategory" name="nCategoryId"
                      id="mailSourcingId" aria-label=".form-select-lg example">
                      <option value="0"> ---Select Category---</option>
                      <option *ngFor="let item of CategoryKeyValues" value="{{item.key}}">{{item.value}}</option>
                    </select>
                  </div> -->
                  <div class="col-md-6 mb-3">
                    <label for="sFirstMapManualCurrentCategory" class="form-label">Category </label>
                    <input type="text" class="form-control" [(ngModel)]="sFirstMapManualCurrentCategory" name="sFirstMapManualCurrentCategory" id="sFirstMapManualCurrentCategory">
                  </div>

                  <div class="col-md-6">
                    <label for="mailRelatedTag" class="form-label">Number </label>
                    <input type="text" class="form-control" [(ngModel)]="sFirstMapNumber" name="sNumber" id="sNumber">
                  </div>

                  <div class="col-md-6 mb-3">
                    <label for="sFirstMapRelatedVpnCityName" class="form-label">City </label>
                    <input type="text" class="form-control" [(ngModel)]="sFirstMapRelatedVpnCityName" name="sFirstMapRelatedVpnCityName" id="sFirstMapRelatedVpnCityName">
                  </div>

                  <div class="col-md-3 pe-2">
                    <label for="sFirstMapRelatedVpnCityStateName" class="form-label">State </label>
                    <input type="text" class="form-control" [(ngModel)]="sFirstMapRelatedVpnCityStateName" name="sFirstMapRelatedVpnCityStateName" id="sFirstMapRelatedVpnCityStateName">
                  </div>

                  <div class="col-md-3 ps-2">
                    <label for="sFirstMapRelatedVpnCityZipCode" class="form-label">VPN </label>
                    <input type="text" class="form-control" [(ngModel)]="sFirstMapRelatedVpnCityZipCode" name="sFirstMapRelatedVpnCityZipCode" id="sFirstMapRelatedVpnCityZipCode">
                  </div>

                  <div class="col-md-12">
                    <label for="mailIssueNote" class="form-label">Link</label>
                    <textarea rows="2" type="text" class="form-control" [(ngModel)]="sFirstMapLink" name="mailIssueNote"
                      id="mailIssueNote">
                                  </textarea>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-header">
                Map 2
              </div>
              <div class="card-body">
                <div class="row">
                  <!-- <div class="col-md-6">
                    <label for="nCategoryId" class="form-label">Category</label>
                    <select class="form-select form-select mb-3" [(ngModel)]="nSecondMapCategory" name="nCategoryId"
                      id="mailSourcingId" aria-label=".form-select-lg example">
                      <option value="0"> ---Select Category---</option>
                      <option *ngFor="let item of CategoryKeyValues" value="{{item.key}}">{{item.value}}</option>
                    </select>
                  </div> -->

                  <div class="col-md-6 mb-3">
                    <label for="sSecondMapManualCurrentCategory" class="form-label">Category </label>
                    <input type="text" class="form-control" [(ngModel)]="sSecondMapManualCurrentCategory" name="sSecondMapManualCurrentCategory" id="sSecondMapManualCurrentCategory">
                  </div>

                  <div class="col-md-6 mb-3">

                    <label for="mailRelatedTag" class="form-label">Number </label>
                    <input type="text" class="form-control" [(ngModel)]="sSecondMapNumber" name="sNumber" id="sNumber">

                  </div>

                  <div class="col-md-6 mb-3">
                    <label for="sSecondMapRelatedVpnCityName" class="form-label">City </label>
                    <input type="text" class="form-control" [(ngModel)]="sSecondMapRelatedVpnCityName" name="sSecondMapRelatedVpnCityName" id="sSecondMapRelatedVpnCityName">
                  </div>

                  <div class="col-md-3 pe-2">
                    <label for="sSecondMapRelatedVpnCityStateName" class="form-label">State </label>
                    <input type="text" class="form-control" [(ngModel)]="sSecondMapRelatedVpnCityStateName" name="sSecondMapRelatedVpnCityStateName" id="sSecondMapRelatedVpnCityStateName">
                  </div>

                  <div class="col-md-3 ps-2">
                    <label for="sSecondMapRelatedVpnCityZipCode" class="form-label">VPN </label>
                    <input type="text" class="form-control" [(ngModel)]="sSecondMapRelatedVpnCityZipCode" name="sSecondMapRelatedVpnCityZipCode" id="sSecondMapRelatedVpnCityZipCode">
                  </div>


                  <div class="col-md-12">
                    <label for="mailIssueNote" class="form-label">Link</label>
                    <textarea rows="2" type="text" class="form-control" [(ngModel)]="sSecondMapLink"
                      name="mailIssueNote" id="mailIssueNote">
                            </textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-danger" (click)="addBulkEmailBtn()">Report Issue</button>
            <button type="button" class="btn btn-success float-end  text-uppercase"
              (click)="ClaimEmailMaps()">SUBMIT</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" hidden id="ConfirmationPopupRemarklOpen" data-bs-toggle="modal"
  data-bs-target="#staticBackdropConfirmationPopupRemark">
  ConfirmationPopupRemark
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdropConfirmationPopupRemark" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabelss" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabelss"><i class="fa-solid fa-envelopes-bulk text-black ms-1"></i>
          Confirmation</h5>
        <button type="button" class="btn-close" id="ConfirmationPopupRemarkCloseModal" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">

        <h5 class="text-center mb-3"> are you want to comfirm?</h5>
        <div class="mb-2">
          <label for="sRemarksNote" class="form-label">Remarks</label>
          <textarea rows="3" type="text" class="form-control" [(ngModel)]="sRemarksNote" name="sRemarksNote"
            id="sRemarksNote">
          </textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="ChangeMapInfo()"> Submit </button>
      </div>
    </div>
  </div>
</div>






<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" hidden id="modalOpen" data-bs-toggle="modal"
  data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><i class="fa-solid fa-envelopes-bulk text-black ms-1"></i>
          Report Issue</h5>
        <button type="button" class="btn-close" id="BulkemailCloseModal" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">

        <div class="mb-2">
          <label for="nReportIssueId" class="form-label">Select Issue</label>
          <select class="form-select form-select mb-3" [(ngModel)]="oEmailIssueFormDto.mailIssueId"
            name="nReportIssueId" id="mailSourcingId" aria-label=".form-select-lg example">
            <option value="-1"> --- Select Issue ---</option>
            <option *ngFor="let item of KeyValues" value="{{item.key}}">{{item.value}}</option>
            <option value="0">Custom</option>
          </select>
        </div>

        <div *ngIf="oEmailIssueFormDto.mailIssueId==0" class="mb-2">
          <label for="mailIssueNote" class="form-label">Custom Issue Note</label>
          <textarea rows="3" type="text" class="form-control" [(ngModel)]="oEmailIssueFormDto.mailIssueNote"
            name="mailIssueNote" id="mailIssueNote">
            </textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="ReportMailIssue()">Submit
          Issue</button>
      </div>
    </div>
  </div>