<div class="row">
    <div class="col-md-12 my-3">
        <span class="grid-header"><i aria-hidden="true" class="fa fa-list"></i> Assign To Preferred Module</span>
    </div>

    <div class="col-md-4 px-3">
        <label for="indicatorName" class="form-label">State</label>
        <select id="indicatorName" (change)="IndicatorNameChange($event)" [(ngModel)]="indicatorName"
            name="indicatorName" class="form-select">
            <option value="sequence">By Email Search</option>
            <option value="sequence1">By Module</option>
        </select>
    </div>

    <div *ngIf="indicatorName=='sequence'" class="col-md-4 px-2">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
            <ng-container *ngFor="let item of KeyValueInStringDtoList">
                <option value="{{item.key}}">{{item.value}}</option>
            </ng-container>

        </select>
    </div>

    <div *ngIf="indicatorName=='sequence1'" class="col-md-4 px-2">
        <label for="inputEmail4" class="form-label">State</label>
        <input type="text" class="form-control" id="inputEmail4">
    </div>

    <div class="col-md-4 px-2" style="align-content: end;">
        <button type="button" class="btn btn-primary">Get Data</button>
    </div>



    <div class="col-md-12 mt-3 position-relative">
        <ag-grid-angular class="ag-theme-alpine" style="height: 67vh;width: 100%; " [rowMultiSelectWithClick]="true"
            [columnDefs]="colDefs" [pagination]="true" [rowSelection]="'multiple'"
            (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReadyAsignToAgent($event)"
            [paginationPageSize]="paginationPageSize" [defaultColDef]="DeafultCol">
        </ag-grid-angular>
        <div
            style="width: 100px; position: absolute; left: 10px; bottom: 9px; z-index: 222; display: -webkit-inline-box;">
            <div class="pt-1 ps-3">show</div>
            <select class="form-select ms-2 fw-bold" style="font-size: 10px;" [(ngModel)]="paginationPageSize"
                name="paginationPageSize" aria-label="Default select example">
                <option selected>--Page Size--</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
        </div>


    </div>

    <div class="col-md-12 my-3">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group mb-3" style="width: 220px!important;">
                    <span class="input-group-text" id="basic-addon1">No of selected rows </span>
                    <input type="text" class="form-control" [(ngModel)]="totalRecord" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col-md-2 px-2 text-end" style="align-content: center;">
                <label for="inputState" class="form-label">State</label>
            </div>

            <div class="col-md-3 pz-2">
                <select id="inputState" class="form-select">
                    <option selected>By Email Search</option>
                    <option>By Module</option>
                </select>
            </div>

            <div class="col-md-3">
                <button type="button" class="btn btn-success float-end" (click)="AssignToAgent()">Assign To
                    Agent</button>
            </div>
        </div>
    </div>

</div>




<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" hidden id="modalOpen" data-bs-toggle="modal"
    data-bs-target="#staticBackdrop">
    Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Email Confirm</h5>
                <button type="button" class="btn-close" id="assignToAgentCloseModal" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <ag-grid-angular class="ag-theme-alpine" style="height: 67vh;width: 100%; "
                            [columnDefs]="colDefsConfirmAssign" [rowSelection]="'single'"
                            (gridReady)="onGridReadyConfirmToAgent($event)" [paginationPageSize]="paginationPageSize"
                            [defaultColDef]="DeafultCol">
                        </ag-grid-angular>
                    </div>
                </div>

            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" (click)="ConfirmAssign()">Confirm Assign</button>
            </div>
        </div>
    </div>
</div>